*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body
{
	/* background-color: rgba(158, 158, 158, 0.03); */
}
@font-face {
    font-family: 'badaboom_bbregular';
    src: url('badabb__-webfont.woff2') format('woff2'),
         url('badabb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'times_new_romanbold';
    src: url('times_new_roman_bold-webfont.woff2') format('woff2'),
         url('times_new_roman_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.nick__head
{

	font-family: Lato;
	margin-top: 10px;
	word-spacing: 5px;
	font-size: 20px;
}
.nick__contact
{
	     text-align: center; 
	     font-family: 'times_new_romanbold', serif;
}
.nick__email
{
		text-align: center;
		font-family: 'times_new_romanbold', serif;
}

.nick__title
{
		text-align: center; 
		font-family: 'times_new_romanbold';
		font-size: 100px;
}

.nick__card
{
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
    width: 100%;
    margin: 1px auto;
    height: 100%;
   /*  border-radius: 12px; */
    /* box-shadow:16px 17px 20px 6px rgba(0, 0, 0, 0.07); */
	padding: 10px;
}
.nick__card_title
{
   font-family: 'times_new_romanbold' ;
   font-size: 25px;
}
.nick__row
{
	margin-bottom: 25px;
}